body{
    background-color: #d2f5f5;
}
.container{
    background-color: white;
    width:70%;
    padding:20px;
    
}
.choice-container{
    font-size: 20px;
    line-height:2;
    font-family:Open sans;
    font-weight:500;
}
button{
    text-decoration: none;
    background-color: rgb(10, 235, 167);
    height:40px;
    width:200px;
    margin:20px;
    border:none;
    font-size:20px;
    border-radius:100px;
}
button:hover{
    width: 250px;
    
}
